.timer {
	.timer-display {
		padding: 10px;
		border: 1px solid var(--accent-color);
		border-radius: 10px;
		box-shadow: 0 0 15px var(--secondary-color);
		.timer-header {
			text-align: center;
		}
		.timer-clock {
			text-align: center;
			font-size: 3em;
			font-weight: bolder;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.timer-controls {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
